{% extends "base.html" %}

{% block title %}Donate{% endblock %}

{% block content %}

<div class="container whitebg">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 w">
      <h2 class="centered">Donate</h2>
      <p>Please visit my fundraising page at <a href="https://www.justgiving.com/janeherman">JustGiving</a> to donate to breast cancer research. All funds go directly to charity as soon as you donate. I will personally match funds up to $1000.</p>
      <div class="centered">
        <a href='http://www.justgiving.com/janeherman' title='JustGiving - Sponsor me now!' target='_blank'><img src='http://www.justgiving.com/App_Themes/JustGiving/images/badges/badge9.gif' width='120' height='90' alt='JustGiving - Sponsor me now!'></a>
      </div>
      <hr>
      <p class="centered">I <i class="fa fa-heart"></i> you.</p>
    </div>
  </div>
</div>

{% endblock %}