{% extends "base.html" %}

{% block title %}Donate{% endblock %}

{% block content %}

<div class="container whitebg">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 w">
      <h2 class="centered">Donate</h2>
      <p>Please help the "fight" against breast cancer by donating to the <a class="bold" href="https://donate.cancer.org/index?don_promo">American Cancer Society</a> in memory of Jane Herman. Please <a href="/contact">contact</a> me if you donate as I am personally matching funds up to $1000.</p>
      <p>Thank you,<br><em>Michael Herman</em></p>
      <p><span class="bold">Update: </span> over $2,000 in donations, as of May 25th!</p>
      <hr>
      <p class="centered">I <i class="fa fa-heart"></i> you.</p>
    </div>
  </div>
</div>

{% endblock %}


