<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Memorial site for my mother, Jane Herman.">
    <title>Remembering Jane Herman</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>

  <body>

    <div class="page-wrap">
      <div class="container hero-area">
        <div class="row centered">
          <div class="col-lg-8 col-lg-offset-2 w">
            <nav class="hidden-sm hidden-xs">
              <a href="obituary" id="nav01">Obituary</a>
              <a href="photos" id="nav02">Photos</a>
              <a href="memories" id="nav03">Memories</a>
              <a href="contact" id="nav04">Contact</a>
              <a href="donate" id="nav04">Donate</a>
            </nav>
            <nav class="nav-small hidden-md hidden-lg">
              <a href="obituary" id="nav01">Obituary</a>
              <a href="photos" id="nav02">Photos</a><br>
              <a href="memories" id="nav03">Memories</a>
              <a href="contact" id="nav04">Contact</a>
              <a href="donate" id="nav04">Donate</a>
            </nav>
            <h1>Jane Herman</h1>
          </div>
        </div>
        <div class="row w centered">
          <br>
          <div class="col-lg-6 col-lg-offset-3">
            <h4>1952 - 2014</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="container whitebg">
      <div class="row centered">
        <img src="/web_photos/mom_and_dad_again.jpg" class="main-photo">
        <br><br>
        <div class="col-lg-6 col-lg-offset-3 w">
          <h2>Memorial &amp; Rosary</h2>
          <p><small>Saturday, May 24, 2014 at 1pm. Contact for details.</small></p>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row centered">
          <p>Have a photo you'd like added? Want to contact the family? <a href="contact">Send us an email</a>.</p>
        </div>
      </div>
    </div>

    <script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script>
      $.backstretch("img/bg.jpg", {speed: 500});
    </script>
    <script src="/js/index.js"></script>

  </body>
</html>
