{% extends "base.html" %}

{% block title %}Memories{% endblock %}

{% block content %}

<div class="container whitebg">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 w">
      <h2 class="centered">Thoughts and Memories</h2>
      <p>Your beauty, patience, gentleness, and grace will continue to remind me of the type of woman and mother I want to be. I am so thankful for the source of light you were and will continue to be in my life. I will always remember your beautiful smile and the unending patience and love you showed me. Thank you for everything and rest in peace until we meet again!</p>
      <hr>
      <p>One time when we were little and your family was over at our house, Jeff and I had gotten into trouble one way or another, and Aunt Jane came out to deal with us. I was shaking in my boots, because even though I had never actually seen Aunt Jane angry, I just knew we were in for it this time. Aunt Jane came stomping up to us and said, "Here comes the big, bad mommy," which of course made us laugh and run away. That always stuck in my mind, because even when we'd messed up, Aunt Jane didn't get mad, but found a way to make us laugh and even turn it into a game. For the record, I cannot recall a time that I ever saw her lose her temper or even raise her voice.</p>
      <hr>
      <p>Mom, you truly were the best. I have learned so much from you and have so many great memories that I will treasure for the rest of my life. One of my fondest memories of you is when you used to read to my 1st grade class and on April Fools Day you brought in an Ostrich egg and told the class that it was a fossilized Tyrannosaurus Rex egg. You had everyone on the edge of their seats, including the teacher, with your story behind the egg and everyone was completely shocked when you told him it was an April Fools Joke. I have always cherished this memory because it shows off how caring you are (by volunteering at the school), and that you have a wicked sense of humor. Thanks again Mom, I love you.<p>
      <hr>
      <p>Jane - You were such a wonderful aunt, role model, and friend. You could find and appreciate the beauty in everyone and everything. I feel blessed beyond words to have had you in my life. I love you.</p>
      <hr>
      <p>Aunt Jane: When I think of you the first words that come to my mind is caring, kindness, selflessness. Aunt Jane, you have a way of always putting your concern for others before yourself. You were at my graduation. You were at my wedding. You were there for me the time I fell and cut my knee. Remember the computer desk that you went so far out of your way to give us?</p> 
      <p>Aunt Jane your kindness is beautiful. Whether we are talking face to face or I am reading one of your letters, your words are warming and kind. Words that are always uplifting and always make me smile.</p>
      <p>Aunt Jane I will hold you and your smile in my heart forever.</p>
    </div>
  </div>
</div>

{% endblock %}
