{% extends "base.html" %}

{% block title %}Memories{% endblock %}

{% block content %}

<div class="container whitebg">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 w">
      <h2 class="centered">Thoughts and Memories</h2>
      <p>Your beauty, patience, gentleness, and grace will continue to remind me of the type of woman and mother I want to be. I am so thankful for the source of light you were and will continue to be in my life. I will always remember your beautiful smile and the unending patience and love you showed me. Thank you for everything and rest in peace until we meet again!</p>
      <hr>
      <p>One time when we were little and your family was over at our house, Jeff and I had gotten into trouble one way or another, and Aunt Jane came out to deal with us. I was shaking in my boots, because even though I had never actually seen Aunt Jane angry, I just knew we were in for it this time. Aunt Jane came stomping up to us and said, "Here comes the big, bad mommy," which of course made us laugh and run away. That always stuck in my mind, because even when we'd messed up, Aunt Jane didn't get mad, but found a way to make us laugh and even turn it into a game. For the record, I cannot recall a time that I ever saw her lose her temper or even raise her voice.</p>
      <hr>
      <p>Mom, you truly were the best. I have learned so much from you and have so many great memories that I will treasure for the rest of my life. One of my fondest memories of you is when you used to read to my 1st grade class and on April Fools Day you brought in an Ostrich egg and told the class that it was a fossilized Tyrannosaurus Rex egg. You had everyone on the edge of their seats, including the teacher, with your story behind the egg and everyone was completely shocked when you told him it was an April Fools Joke. I have always cherished this memory because it shows off how caring you are (by volunteering at the school), and that you have a wicked sense of humor. Thanks again Mom, I love you.<p>
      <hr>
      <p>Jane - You were such a wonderful aunt, role model, and friend. You could find and appreciate the beauty in everyone and everything. I feel blessed beyond words to have had you in my life. I love you.</p>
      <hr>
      <p>Aunt Jane: When I think of you the first words that come to my mind is caring, kindness, selflessness. Aunt Jane, you have a way of always putting your concern for others before yourself. You were at my graduation. You were at my wedding. You were there for me the time I fell and cut my knee. Remember the computer desk that you went so far out of your way to give us?</p>
      <p>Aunt Jane your kindness is beautiful. Whether we are talking face to face or I am reading one of your letters, your words are warming and kind. Words that are always uplifting and always make me smile.</p>
      <p>Aunt Jane I will hold you and your smile in my heart forever.</p>
      <hr>
      <p>I remember the first time we came to your house for a visit with Katie who was 4 we walked into the house and Mike, Jeff and Katie ran off to the boys rooms to play. Tom, Jane, Larry and I were downstairs talking when all 3 ran down the steps with big eyes telling how Katie pulled over the fish acquarium and the fish were flopping on the floor. We ran up the stairs and cleaned up the mess and while we were upstairs Katie then took a permanent black magic marker and drew on the wall that Tom had just painted in the kitchen. We came downstairs to that mess. The whole time Tom and Jane never got mad, yelled or anything they both just had smiles on their faces like I bet you have fun at your home. So Thank You Jane for always being patient when you could of gotten mad. You will be missed, and I Love You. </p>
      <hr>
      <p>Jane was always fascinated with nature. As young girls we would go to the vacant lot near our home and find Monarch caterpillars, put them in jars and watch them transform into butterflies...which we then let go. She had a seashell collection as a child, and continued collecting seashells, antlers, insect specimens, etc., as an adult. As a young girl, about second grade, she was interested in dinosaurs and especially saber tooth tigers, to the extent she pushed on her incisors to try to get the saber tooth tiger look. Thankfully, it didn't work!</p>
      <p>When Jane and I went shopping together, I had to be careful about saying something was pretty. She would go back and buy it for me...she was a gift giver. One day in 2004 we went to the antique mall in Parkville to shop. She surprised me by saying that she would like to have a booth, so then and there we signed up to have a booth together! She enjoyed having the booth and was very good at selling only quality items.</p>
      <p>Just when you thought you could predict Jane, she would surprise you. She loved classical music...Handel, Tchaikovsky, Brahams, and Jimi Hendrix.</p>
      <p>Our parents were married 13 years before they had children. Mother said she was going to have twins, even though there was no history of twins in her family. "Someone has to start it," she said. I am so thankful she was right, and so thankful to have had Jane as my sister all these years. I miss her.</p>
      <hr>
      <p>Jane, I will always remember you for your radiant smile; your soft spoken demeanor that belied your intense convictions and strong will. You always treated me with kindness, patience, love and respect. I will miss you greatly. Though you have passed on, you will always be in my heart and will live in my thoughts. Your smile with all the warmth and love it conveyed will remain with me forever.</p>
      <div class="row centered">
        <p><img src="http://janefherman.com/img/from_the_memorial_announcement.jpg" id="img-announcement"><br><a href="http://localhost:9090/img/from_the_memorial_announcement.jpg">Full Image</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
