{% extends "base.html" %}

{% block title %}Obituary{% endblock %}

{% block content %}

<div class="container whitebg">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 w">
      <h2 class="centered">Obituary</h2>
      <p>Jane Fowkes Herman was born on June 4, 1952 in Columbus, Ohio. Jane has a twin sister Sue. Their Father, Walter Fowkes, was a PhD research chemist who worked for the US Bureau of Mines. Walter died in 1983. Their Mother, Catherine, had Bachelor of Arts in Home Economics and died in 1963. Jane was raised in Grand Forks, North Dakota.  She obtained an Associate degree from Cottey College in Nevada, Missouri in 1972. While in college Jane met Tom Herman and they were married in August 1972. They moved to Dallas, Texas and Jane earned her Bachelor of Science in Nursing, BSRN, in 1976. They moved to Kansas City in 1976 and Jane worked at St. Luke's' Hospital in the kidney transplant and dialysis wards. Jane and Tom started a family and had Mike in 1983 and Jeff in 1989. Jane treated her nieces and nephew, and their children, as though they were her own, remembering all their birthdays with generous gifts. Jane died on May 8, 2014 after a long fight with cancer.</p>
    </div>
  </div>
</div>

{% endblock %}
