{% extends "base.html" %}

{% block title %}Photos{% endblock %}

{% block content %}

<div class="container whitebg">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1  w">
      <h2 class="centered">Photos</h2>
      <br>
      <div class="galleria">
        <img src="/web_photos/baby_mom.jpg">
        <img src="/web_photos/canada_mom_with_dad.JPG">
        <img src="/web_photos/child_on_tricycle.jpg">
        <img src="/web_photos/child_with_sue.jpg">
        <img src="/web_photos/child_with_sue_again.jpg">
        <img src="/web_photos/child_with_sue_again_again.jpg.jpg">
        <img src="/web_photos/child_with_sue_again_again_again.jpg.jpg">
        <img src="/web_photos/child_mom.jpg">
        <img src="/web_photos/christmas_2013_mom_with_sue.jpg">
        <img src="/web_photos/church_family.jpg">
        <img src="/web_photos/college_mom.jpg">
        <img src="/web_photos/college_mom_with_sue.jpg">
        <img src="/web_photos/colorado_2013_mom_with_dad_jeff_and_chris.jpg">
        <img src="/web_photos/colorado_2014_with_jef_chris_and_sue.JPG">
        <img src="/web_photos/colorado_mom_with_mike_and_dad.jpg">
        <img src="/web_photos/colorado_mom_with_mike_josef_laura_jeff_sara.jpg">
        <img src="/web_photos/colorado_summer_2013_with_dad.JPG">
        <img src="/web_photos/colorado_summer_2013_with_jeff.jpg">
        <img src="/web_photos/colorado_summer_2013_with_jeff_again.jpg">
        <img src="/web_photos/colorado_summer_2013_with_jeff_again_again.jpg">
        <img src="/web_photos/colorado_summer_2013_with_jeff_and_dad.jpg">
        <img src="/web_photos/halloween_mike_and_jeff.jpg">
        <img src="/web_photos/main_mom_with_mike.JPG">
        <img src="/web_photos/maine_family.JPG">
        <img src="/web_photos/maine_mom_with_dad_and_jeff.JPG">
        <img src="/web_photos/maine_with_dad.JPG">
        <img src="/web_photos/maine_with_mike_and_jeff.JPG">
        <img src="/web_photos/mom.jpg">
        <img src="/web_photos/mom_again.jpg">
        <img src="/web_photos/mom_again_again.jpg">
        <img src="/web_photos/mom_and_dad.jpg">
        <img src="/web_photos/mom_and_dad_again.jpg">
        <img src="/web_photos/mom_and_dad_again_again.jpg">
        <img src="/web_photos/mom_antiques.jpg">
        <img src="/web_photos/mom_as_a_baby.jpg">
        <img src="/web_photos/mom_colorado_2013_with_dad.jpg">
        <img src="/web_photos/mom_jeff_birth.jpg">
        <img src="/web_photos/mom_jeff_birth_with_mike.jpg">
        <img src="/web_photos/mom_with_a_lot_of_women.jpg">
        <img src="/web_photos/mom_with_aunt_sue.jpg">
        <img src="/web_photos/mom_with_dad_again_and_again.jpg">
        <img src="/web_photos/mom_with_family_again.jpg">
        <img src="/web_photos/mom_with_her_dad_and_sue.jpg">
        <img src="/web_photos/mom_with_jeff.jpg">
        <img src="/web_photos/mom_with_sara.jpg">
        <img src="/web_photos/mom_with_sara_and_sue.jpg">
        <img src="/web_photos/mom_with_sue.JPG">
        <img src="/web_photos/mom_with_sue_again.jpg">
        <img src="/web_photos/montreal_with_jeff_and_mike.JPG">
        <img src="/web_photos/pasco_mom_with_mke_and_jeff.JPG">
        <img src="/web_photos/sf_with_jeff_and_mike.JPG">
        <img src="/web_photos/sf_with_mike_and_jeff_again.JPG">
        <img src="/web_photos/wedding_mom.jpg">
        <img src="/web_photos/wedding_mom_and_dad.jpg">
      </div>
      <br>
      <div class="centered">
        <input type="button" id="fullscreen" value="Full Screen" class="btn btn-norm btn-lg fullscreen-btn">
      </div>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/galleria/galleria-1.3.3.min.js"></script>
<script>
  Galleria.loadTheme('/galleria/themes/classic/galleria.classic.min.js');
  Galleria.run('.galleria', {
    //wait: true,
    preload: 4,
    thumbCrop: true,
    responsive: true,
    width: '92%',
    height: 650,
    transition: "pulse",
    transitionSpeed: 500,
    imageCrop: 'landscape',
    autoplay: 5000,
    carousel: false,
    carouselSpeed: 1200,
  });
</script>
<script src="/js/main.js"></script>

{% endblock %}
