html {
  position: relative;
  height: 100%; 
}

body {
  background-color: #f3d7c2;
  font-family: "EB Garamond", "lucida bright", georgia, times, serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; 
}

.page-wrap {
  min-height: 92%;
  background: rgba(255, 255, 255, 0.5);  
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Abril Fatface", "lucida bright", georgia, times, serif;
  font-weight: 300;
  color: #333; 
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px; 
}

.centered {
  text-align: center; 
}

/* Links */
a {
  color: #17a7a8;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in; 
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0; 
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in; 
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; 
}

nav {
  position: absolute;
  top: 3.5em;
  text-align: center;
  font-size: 1.25em;
  font-family: "EB Garamond", "lucida bright", georgia, times, serif;
  width: 38em;
  left: 50%;
  margin: 0 0 0 -19em; 
}
  nav a {
    display: inline-block;
    padding: 0.5em;
    margin: 0 1em;
    color: #c7374e; 
  }
    nav a:hover {
      color: #122f51; 
    }


.nav-small {
  position: absolute;
  top: 10px;
  text-align: center;
  font-size: 1em;
  font-family: "EB Garamond", "lucida bright", georgia, times, serif;
  width: 38em;
  left: 50%;
  margin: -7em 0 0 -19em; 
}
  .nav-small a {
    display: inline-block;
    margin: 0 1em;
    color: #c7374e; 
  }
    .nav-small a:hover {
      color: #122f51; 
    }


/* Homepage */
.hero-area {
  min-height: 580px; 
}
  .hero-area h1 {
    font-size: 70px;
    position: relative;
    padding: 0;
    margin: 62.5% 0 0;
    color: #c7374e;
    text-shadow: 0 2px 10px rgba(255, 255, 255, 0.3); 
  }
    .hero-area h1 small {
      position: absolute;
      width: 100%;
      top: -0.5em;
      left: 50%;
      margin: 0 0 0 -55%;
      letter-spacing: 0.02em;
      font-family: 'EB Garamond', serif;
      font-size: 0.333em;
      font-style: italic;
      color: #555; 
    }

.nav-area {
  height: 260px;
  background: rgba(255, 255, 255, 0.5); 
  width: 100%;
}
  .nav-area h1 {
    margin-top: 3.25em;
    font-size: 2.667em;
    color: #c7374e;
    position: relative; 
  }
    .nav-area h1 em {
      color: #17a7a8;
      font-family: "EB Garamond", "lucida bright", georgia, times, serif;
      margin: 0 0.2em 0 0;
      font-size: 0.4em;
      position: absolute;
      top: -0.667em;
      left: 40%; 
    }
    .nav-area h1 a {
      color: #c7374e; 
    }
      .nav-area h1 a:hover {
        color: #122f51; 
      }

.whitebg {
  background: white;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 5em;
  z-index: 500; 
}
  .whitebg h2 {
    color: #c7374e;
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-size: 1.467em;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin: 0.75em 0 0.25em; 
  }
  .whitebg small {
    color: #999; 
  }
  .whitebg p {
    line-height: 1.636;
    margin: 0;
    padding: 1em 2.5% 1em 0;
    color: #555;
    font-size: 18px; 
  }
  .whitebg form {
    margin: 2em 0 0; 
  }
    .whitebg form label {
      color: #999;
      padding: 0.75em 0 0; 
    }
    .whitebg form input,
    .whitebg form textarea {
      display: block;
      margin: 0.5em 0 1em;
      background: #f9ece2;
      border: none;
      box-shadow: 0 1px 1px 0 #c7f7f7 inset;
      color: #777;
      font-size: 1em;
      padding: 0.5em 0.333em; 
    }
    .whitebg form input {
      width: 50%; 
    }
    .whitebg form textarea {
      width: 66.67%; 
    }
    .whitebg form .btn-row input {
      display: inline-block;
      margin: 1.25em 0.5em 0 0;
      color: white;
      background: #8bb6a3;
      font-size: 1.12em;
      width: auto;
      padding: 0.425em 0.825em; 
    }
      .whitebg form .btn-row input:last-child {
        background: transparent none;
        color: #c7374e; 
      }

.footer {
  background-color: #fcf4ef; 
}
  .footer p {
    padding: 1.25em 0;
    margin: 0;
    font-size: 1em; 
  }

a {
  transition: all 0.4s ease; 
}

.galleria-stage {
  background: #eaeaea !important;
  width: 92% !important;
  height: 100%;
  min-height: 600px;
  margin: 2em auto; 
}

.thankyou {
  padding-bottom: 175px;
}

.main-photo {
  max-height: 200px;
  max-width: auto;
}

.fullscreen-btn {
  background-color: #8bb6a3;
  color: white;
}

#play {
  display:none;
  background-color: #b68b9e;
  color: white;
}

#pause {
  background-color: #8bb4b6;
  color: white;
}